In [1]:
#  data types in python
num = 10;
print(type(num))

<class 'int'>

In [2]:
num = 1.2;
print(type(num));

<class 'float'>

In [3]:
num = {1,2,3,4};
print(type(num));

<class 'set'>

In [4]:
num = [1,2,3,4];
print(type(num))

<class 'list'>

In [6]:
num = {"num1" : 10, "num2" : 20};
print(type(num))

<class 'dict'>